body{
    background-color: greenyellow;
}

p{
    color: black;

}
#auto{
    text-align: center;
    color: white;
}

img  {
  float: left;
  height: 100px;
  width: auto;
}
table, td {
    border: 1px black solid;
    border-collapse: collapse;
    background-color: whitesmoke;
    font-size: xx-large;
    
}
#kepes{
    font-size: xx-large;
    background-image: url("vegyes feladatok/smiley2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#szomr{
    background-image: url("vegyes feladatok/smiley2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
table{
    clear: both;
}
div{
    padding-top: 50px;
    border: 1px grey solid;
    border-radius: 10;
    margin: 20px;
}

ul li{
    list-style-image: url("vegyes feladatok/smiley2.png");
    list-style-position: inside;
}
ol li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    text-align: left;
    
}